<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Black (2014-07-09 11:53)</string>
	<string>M6.5.3-2151-2</string>
	<string>G-r8-1GP146</string>
</array>
</plist>
